<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <appSettings>
    <add key="mainPath" value="C:\FolderWidget\files.xml" />
    <add key="errorPath" value="C:\FolderWidget\ErrorLogs.txt" />
    <add key="iconPath" value="C:\FolderWidget\Icons\" />
    <add key="deployToProdPath" value="C:\Projects\PRODUCTION\" />
    <add key="deployToQAPath" value="C:\Projects\QA\" />

    <add key ="DeveloperMode" value="0"/>
    
  </appSettings>
   
</configuration>